name: Cypress E2E

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Start app
        run: npm start &
      
      - name: Wait for app to be ready
        run: npx wait-on http://localhost:3000

      - name: Run Cypress (E2E)
        run: npm run test:e2e